<ion-app>
  <ion-menu side="start" menuId="menu1" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Welcome
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" button routerLink="/places/discover-places">
            <ion-icon name='business' slot="start"></ion-icon>
            <ion-label>Discover Places</ion-label>
          </ion-item> 
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button routerLink="/places/offer">
            <ion-icon name='card' slot="start"></ion-icon>
            <ion-label>Offers</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button routerLink="/bookings"> 
            <ion-icon name='paper-plane' slot="start"></ion-icon>
            <ion-label>Your Bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button (click)="onLogout()">
            <ion-icon name='exit' slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
